.card {
    width: 100%;
    border-radius: 10px;
    background-color: #222;
    max-height: 281px;
    position: relative;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.card__image {
    min-height: 158px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card__caption-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 17px;
    padding: 4.399% 6.596% 4.399% 4.399%;
    box-sizing: border-box;
}

.card__title {
    max-width: 290px;
    width: 90.67%;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
}

.card__like-button {
    background-image: url('../../images/like.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 12px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: background-image opacity 0.2s linear;
}

.card__like-button:hover {
    background-image: url('../../images/like-active.svg');
    opacity: 0.5;
    cursor: pointer;
}

.card__like-button_active {
    background-image: url('../../images/like-active.svg');
    transition: background-image 0.1s linear;
}

.card__like-button_active:hover {
    background-image: url('../../images/remove.svg');
    opacity: 1;
}

.card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    color: #8B8B8B;
}


@media screen and (max-width: 1015px) {
    .card {
        max-height: 325px;
    }

    .card__caption-field {
        row-gap: 15px;
        padding: 4.13% 6.49% 4.13% 4.13%;
    }

    .card__title {
        max-width: 360px;
    }
}

@media screen and (max-width: 590px) {
    .card {
        max-height: 390px;
    }

    .card__caption-field {
        width: 97%;
        row-gap: 14px;
        padding: 4.67% 6% 4.67% 4.67%;
    }

    .card__title {
        max-width: 450px;
        font-size: 12px;
        line-height: 15px;
    }

    .card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}