.section-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 122.7%;
    letter-spacing: -0.04em;
    color: #fff;
    padding: 0 0 2.022%;
    margin: 0;
    border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 768px) {
    .section-title {
        padding-bottom: 3.444%;
    }
}

@media screen and (max-width: 320px) {
    .section-title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 9.86%;
    }
}