.profile {

}

.profile__container {
    width: 35.79%;
    margin: 6.492% auto 0;
    padding-bottom: 6.14%;
}

.profile__greeting {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0;
}

.profile__form {
    outline: none;
}

.profile__form-set {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    margin: 30% auto 0;
}

.profile__input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
}

.profile__input-container:focus-within {
    border-bottom: 1px solid #4285F4;
}

.profile__label {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    width: 30%;
    padding-bottom: 16px;
}

.profile__label_type_name {

}

.profile__label_type_email {

}

.profile__input {
    border: none;
    width: 70%;
    padding: 0 0 16px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: end;
    color: #fff;
    background-color: #202020;
    outline: none;
}

.profile__input::-webkit-input-placeholder {
    color: #c4c4c4;
}

.profile__input::-moz-placeholder {
    color: #c4c4c4;
}


.profile__input_type_name {

}

.profile__input_type_email {

}

.profile__input-error {
    visibility: hidden;
    margin-top: 6px;
    min-height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #EE3465;
}

.profile__input-error_visible {
    visibility: visible;
}

.profile__edit-button {
    background-color: #202020;
    width: 100%;
    height: 16px;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 0;
    margin: 0 auto 16px;
    transition: opacity 0.2s linear;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: .7;
}

.profile__edit-button_hidden {
    display: none;
}

.profile__logout {
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    padding: 0;
    border: none;
    transition: opacity 0.2s linear;
}

.profile__logout:hover {
    opacity: .8;
    cursor: pointer;
}

.profile__logout_hidden {
    display: none;
}

.profile__save-button {
    max-width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #4285F4;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0;
    transition: opacity 0.2s linear;
}

.profile__save-button:hover {
    cursor: pointer;
    opacity: .8;
}

.profile__save-button_disabled {
    background-color: #424242;
    opacity: .2;
    color: #c2c2c2;
}

.profile__save-button_disabled:hover {
    cursor: auto;
    opacity: .2;
}

.profile__save-button_hidden {
    display: none;
}

.profile__message {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    height: 14px;
    margin: 42.35% auto 16px;
}

.profile__message_error {
    color: #EE3465;
}

.profile__message_success {
    color: #4285F4;
}


@media screen and (max-width: 768px) {
    .profile__container {
        width: 53.386%;
        margin: 30.73% auto 0;
        padding-bottom: 35.027%;
    }

    .profile__form-set {
        margin-top: 23.415%;
    }
}

@media screen and (max-width: 490px) {
    .profile__container {
        width: 81.25%;
        margin: 21.875% auto 0;
        padding-bottom: 12.5%;
    }

    .profile__form-set {
        margin-top: 30.77%;
    }

    .profile__edit-button {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__logout {
        font-size: 12px;
        line-height: 15px;
    }
}