.wrong-route {
    max-width: 400px;
    margin: 0 auto;
    padding: 19.219% 0 4.688%;
}

.wrong-route__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrong-route__error-code {
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

.wrong-route__error-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    margin-top: 5px;
}

.wrong-route__button {
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    margin-top: 184px;
    padding: 0;
    transition: opacity 0.2s linear;
}

.wrong-route__button:hover {
    opacity: .7;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .wrong-route {
        padding: 53.125% 0 28.907%;
    }
}

@media screen and (max-width: 320px) {
    .wrong-route {
        padding: 102.815% 0 9.375%;
    }

    .wrong-route__error-code {
        font-size: 80px;
        line-height: 97px;
    }

    .wrong-route__error-text {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }

    .wrong-route__button {
        font-size: 12px;
        line-height: 15px;
        margin-top: 284px;
    }
}