.submit-error {
    visibility: hidden;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    height: 30px;
    margin-top: 22.224%;
    margin-bottom: 4.043%;
    color: #EE3465;
}

.submit-error_visible {
    visibility: visible;
}


@media screen and (max-width: 490px) {
    .submit-error {
        font-size: 11px;
        line-height: 13px;
    }
}